.navbar {
  background-color: #753001;
  color: white;
  position:absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  padding: 15px 0;
}

.navbar-container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-link {
  padding: 10px;
  margin-left: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px; 
  font-weight: 500;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

.navbar-link:hover {
  color: rgb(231, 231, 231);
  text-decoration-color: rgb(255, 174, 0);
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #f05454;
}
